<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hyperlinkapp.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0B696CF1-EA09-42CF-B90F-BA1D0C19CC7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30D91118-70F2-4BCD-9459-247123C24BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>30D91118-70F2-4BCD-9459-247123C24BA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F28948C-47F3-4D82-BE63-E5998C1E46DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>940BCE85-E6F7-43DC-B0E7-E6B5BEEBD2EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F02B8146-3AE4-4D67-B0A0-1C4AF7AF6A99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hyperlab</string>
	<key>description</key>
	<string>Unified search for your data</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hyperlink</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F02B8146-3AE4-4D67-B0A0-1C4AF7AF6A99</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>hi</string>
				<key>script</key>
				<string>python hyperlink.py "{query}"</string>
				<key>title</key>
				<string>type to search your data</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>940BCE85-E6F7-43DC-B0E7-E6B5BEEBD2EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python hyperlink.py --token "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>30D91118-70F2-4BCD-9459-247123C24BA1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your Hyperlink token was saved.</string>
				<key>title</key>
				<string>Hyperlink token saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4F28948C-47F3-4D82-BE63-E5998C1E46DD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hitoken</string>
				<key>subtext</key>
				<string>Input your Hyperlink token and hit Enter</string>
				<key>text</key>
				<string>Set your Hyperlink token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0B696CF1-EA09-42CF-B90F-BA1D0C19CC7D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B696CF1-EA09-42CF-B90F-BA1D0C19CC7D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>30D91118-70F2-4BCD-9459-247123C24BA1</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4F28948C-47F3-4D82-BE63-E5998C1E46DD</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>940BCE85-E6F7-43DC-B0E7-E6B5BEEBD2EA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F02B8146-3AE4-4D67-B0A0-1C4AF7AF6A99</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://hyperlinkapp.com/</string>
</dict>
</plist>
